/* GroceryBag.js */
.add-cat {
    height: 31px;
    max-height: 31px;
    margin: 5px 0px;
}

/* GroceryBagCategory.js */
.add-food {
    height: 25px;
    max-height: 25px;
    margin: 5px 0px;
}

.category {
    margin: 5px 0px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    /* border-radius: 5px; */
    padding: 5px;
    /* cursor: pointer; */
}

.category-header {
    margin: 2px;

}

.Grocery-Bag-SubHeader {
    min-height: 38px;
}

.category-title {
    border: none;
    font-size: 1.75em;
    font-weight: 500;
    cursor: default;
}

.category-title:focus {
    border: none;
    outline: none;
    cursor: default;
}

.category-title-edit {
    border: none;
    border-bottom: 1px solid #000;
    font-size: 1.5em;
    font-weight: 450;
    cursor: text;
    font-style: italic;

}

.category-title-edit:focus {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    cursor: default;
}

.grocery-bag-tile {
    border: none;
    cursor: pointer;
}

.grocery-bag-tile {
    margin: 2px;
    padding: 4px;
    border: 1px solid #000;
    border-radius: 10px;

    display: inline-flex;
    align-items: center;

}
.react-responsive-modal-modal{
    max-width: 80vw !important;
}
.tile-custom-input {
    border: none;
    border: 1px solid #414141;
    border-radius: 10px;
    box-shadow: 0px 1px 2px #000;
    font-size: 1em;
    font-style: italic;
    cursor: text;
    background: none;
    margin-left: 5px;
    margin-right: 5px;
}
.grocery-bag-categories{
    overflow-y: scroll;
    max-height: 75vh;
}
.grocery-bag-category-tile-container{
    max-height: 40px;
    overflow-y: hidden;
    
}
.grocery-bag-category-tile-container-hiddenOF{
    
}
.grocery-bag-entrance-anim {
    animation: grocery-tile-selected-entrance 200ms ease 1 normal none;
}

@keyframes grocery-tile-selected-entrance {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.grocery-bag-hover:hover {
    animation: gb-hover-in 100ms ease 0s 1 normal both;
}

.grocery-bag-hover:not(:hover) {
    animation: gb-hover-out 100ms ease 0s 1 normal both;
}

.grocery-bag-hover:active {
    animation: grocery-tile-click 100ms ease 0ms 1 normal none;
}

@keyframes gb-hover-in {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes gb-hover-out {
    0% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes grocery-tile-click {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.grocery-bag-submit-btn {
    border: 2px solid #000000;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 1.25em;
    min-width: 155px;
    margin: 5px 0px 5px;
    padding: 5px 10px;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}
.grocery-bag-submit-btn-sm {
    border: 2px solid #000000;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 1em;
    /* min-width: 155px; */
    /* margin: 5px 0px 5px; */
    background-color: inherit;
    /* padding: 5px 10px; */
    
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.new-food-input-div{
    display: inline-flex;
    align-items: center;
    background-color: inherit;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    height: 34px;
}
.new-food-input{
    /* width: 100%; */
    width: 90px;
    height: 100%;
    border: none;
    outline: none;
}
.grocery-bag-submit-btn:hover {
    animation: gbs-hover-in 100ms ease 0s 1 normal both;

}

.grocery-bag-submit-btn:not(:hover) {
    animation: gbs-hover-out 100ms ease 0s 1 normal both;
}

.grocery-bag-submit-btn:active {
    animation: gbs-btn-tile-click 100ms ease 0ms 1 normal none;
}

@keyframes gbs-hover-in {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.02);
    }
}

@keyframes gbs-hover-out {
    0% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes gbs-btn-tile-click {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.cat-expand-btn{
    cursor: pointer;
}
.cat-expand-btn:active{
    cursor: pointer;
    
    animation: cat-expand-hover-click 100ms ease 0s 1 normal both;
}

.cat-expand-btn:hover{
    animation: cat-expand-hover-in 100ms ease 0s 1 normal both;
}

.cat-expand-btn:not(:hover){
    animation: cat-expand-hover-out 100ms ease 0s 1 normal both;
}
@keyframes cat-expand-hover-in {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15);
    }
}

@keyframes cat-expand-hover-out {
    0% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes cat-expand-hover-click {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}