/* PantryHeader.js */
.react-responsive-modal-modal {
  width: 90vw;
  /* max-width: 90vw !important; */
}

.pantry-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
}

.pantry-header {
  position: relative;
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.pantry-header-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(198, 255, 255);
  border-radius: 15px;
  filter:drop-shadow(0px 3px 3px #ccc);
  height: 100%;
  /* border: solid 1px #ccc; */
}
.accordion-body{
  padding: 0px !important;
}
.pantry-subheader {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.pantry-header-body {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.pantry-header-body-item{
  margin: 5px;
}
.pantry-body-container{
  overflow-y: scroll;
  max-height: 80vh;

  padding-left: 2em;
  padding-right: 2em;
  padding-top: 10px;
}
/* PantryBody.js */
.dropdown-toggle::after {
  display: none!important;
}
.pantry-tile {
  display: inline-flex;
  flex-direction: column;

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  
  min-width: 200px;

}

.pantry-tile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.5em;
  font-weight: 400;

  margin-bottom: 10px;
}

.pantry-tile-body {
  display: flex;
  flex-direction: row;
  /* align-items: end; */

}
.pantry-tile-header-dropdown{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: pointer;
}

.pantry-list {
  display: flex;
  flex-direction: row;

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100%;

  font-size: 1.2em;
  font-weight: 400;


}
.pantry-list-element{
  display: flex;
  align-items: center;
}
.pantry-list-header {

  font-size: 24px;
  font-weight: 400;

}
.pantry-list-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
  font-weight: 400;
}
.done-edit-check{
  cursor: pointer;
  height: fit-content;
  margin-right: 5px;
}
.accordion-button:not(.collapsed) {
  /* color: #fff;
  background-color: #ffffff; */
  color: inherit !important;
  background-color: inherit !important;
  /* box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25) !important; */
  border-bottom: solid 1px #ccc !important;
}
.accordion-button:focus{
  border-color: none !important;
  box-shadow: none !important;
}

.pantry-category-name{
  font-size: 1.5em;
  font-weight: 400;
  margin-left: 10px;
}


/* PantryTotalStockStatus.js */
.ts-stats-tab-btn{
  cursor: pointer;
  border-radius: 5px;

}