.recipe-pot-container{
    border-radius: 15px;
    animation: recipe-pot-entrance 300ms ease 0ms 1 normal none;
}

@keyframes recipe-pot-entrance {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.recipe-pot{

}

.recipe-pot-header {
    font-size: 1.5em;
    font-weight: 400;
    padding: 16px 20px 16px ;
    /* border-top: 1px solid #000; */
    border-bottom: 1px solid #000;
    width: 100%;
}
.recipe-pot-subheader{
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
    padding: 16px 20 ;
    /* border-top: 1px solid #000; */

}

.recipe-pot-body{
    border-radius: 15px;
    margin: 10px;
    
    /* padding-bottom: 150px; */
}

.no-items{
    border-radius: 15px;
    margin: 10px;
    padding: 10px 25px 140px 25px;
    min-width: 200px;
}

.items {
    border-radius: 15px;
    margin: 10px;
    padding: 0px 25px 125px;
    min-width: 200px;
}

.active-dropzone{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.over-active-dropzone{
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
}

.recipe-pot-btn{
    cursor: default;
    
}
.no-link-style, .no-link-style:visited, .no-link-style:active, .no-link-style:hover{
    text-decoration: none;
    color: inherit;

}
.recipe-pot-btn-active{
    cursor: pointer;
    animation: ScaleBtnUp 200ms ease 0s 1 normal forwards,get-recipe-pulse 3s ease 0s infinite normal forwards;
    animation-fill-mode: forwards;
    /* animation: ScaleBtnDownHover 200ms ease 0s 1 normal forwards; */

}
.recipe-pot-btn-active:hover{
    cursor: pointer;
    animation: ScaleBtnUpHover 200ms ease 0s 1 normal forwards;

}
.recipe-pot-btn-active:hover::after{
    cursor: pointer;
    animation: ScaleBtnDownHover 200ms ease 0s 1 normal forwards;

}

.recipe-pot-btn-inactive{
    cursor: default;
    animation: ScaleBtnDown 200ms ease 0s 1 normal forwards;
    pointer-events: none;
    
}

/* 
=============================
Keyframes
=============================
*/

@keyframes ScaleBtnUp {
	0% {
		transform: scale(1.0);
	}

	100% {
		transform: scale(1.1);
	}
}
@keyframes ScaleBtnUpHover {
	0% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1.15);
	}
}


@keyframes ScaleBtnDown {
	0% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1.0);
	}
}
@keyframes ScaleBtnDownHover {
	0% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(1.1);
	}
}

@keyframes get-recipe-pulse {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1.1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(1.08);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.97);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1.1);
	}
}


/* RECIPIE POT TILE STYLES */
.recipe-pot-tile{
    animation: recipe-pot-tile-landing 150ms ease 0s 1 normal both;
    animation-fill-mode: forwards;
}
@keyframes recipe-pot-tile-landing {
	0% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}
