/* SearchBar.js */
.Search-Bar{
    display: inline-flex;
    align-items: center;
    background-color: white;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
}

.Search-Input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.Search-Clear-Inactive{
    opacity: 0;
    cursor: default;
}

.Search-Clear-Active{
    opacity: 1;
    cursor: pointer;
}

.epr-category-nav{
    display: none !important;;
}

.selected-title{
    font-size: 1.5em;
    font-weight: 450;
}

.selected-body{
    min-height: 48px;
}
.customModal{
    font-family: 'Slabo 27px', serif;
}